
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff ;
}

span{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    display: block;
    margin: 75px 0px 0px 360px;
}

h1{
    color: #9747FF;
    font-family: "unbounded",sans-serif;
    font-size: 65px;
    text-align: center;
    margin-top: 60px;
}

p{
    color: #000000;
    font-size: 24px;
    font-family: "poppins",sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color: #000000;
    font-family: "poppins";
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233e8;
}

section img {
  display: block;
  margin: 0 auto;
  width: 792px;
  height: 446px;
}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }
    p{
        width: 648px;
    }
}
@media(max-width: 375px){

    header img{
        margin: 32px 0 0 16px;
   }

   h1{
    font-size: 40px;
   }

   p{
    font-size: 20px;
    width: 340px;
   }
   
   a{
    font-size: 20px;
    width: 251px;
}

   section img{
    width: 340px;
    height: 230px;
   } 
}

